* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
  background-color: pink;
  object-fit: cover;
}

.hello-header {
  position: fixed;
  z-index: 2;
  color: white;
  left: 15%;
  top: 30%;
  transform: translate(-20%, -40%);
  max-width: 26rem;
  text-align: center;
}

.hello-header h1 {
  font-size: 6rem;
}
.hello-header p {
  font-size: 2rem;
}

.details {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}