* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
  color: #252422;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
}

h1, h2, h3, 
h4, h5, h6 {
  font-family: 'Yeseva One', 'Times New Roman', Times, serif,sans-serif;
}

p, li, .btn{
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.hello-header {
  position: fixed;
  z-index: 2;
  color: white;
  left: 15%;
  top: 30%;
  transform: translate(-20%, -40%);
  max-width: 26rem;
}

.hello-header h1 {
  font-size: 6rem;
}
.hello-header p {
  font-size: 2rem;
}

.about-section {
  background-color: rgb(255, 251, 240);
  background-image: radial-gradient(
      at 14% 82%,
      rgb(255, 251, 240) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, rgb(255, 251, 240) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(56, 56, 199, 0.79) 0px, transparent 80%),
    radial-gradient(at 81% 73%, rgb(255, 251, 240) 0px, transparent 50%),
    radial-gradient(at 21% 6%, rgb(255, 251, 240) 0px, transparent 30%),
    radial-gradient(at 3% 4%, rgb(254, 147, 109) 0px, transparent 70%),
    radial-gradient(at 42% 0%, rgba(248, 105, 53, 0.6) 0px, transparent 70%),
    radial-gradient(at 2% 65%, rgb(107, 102, 255) 0px, transparent 50%),
    radial-gradient(at 53% 68%, rgb(255, 251, 240) 0px, transparent 50%);
  background-size: 100%;
  /* animation: gradient 5s ease infinite; */
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.full-section {
  min-height: 100vh;
  width: 100%;
}

.full-section h1 {
  padding-top: 10vh;
}

.break-section {
  display: grid;
  justify-content: left;
}

.next-spacer {
  text-align: center;
}

.panel-sbvt,
.panel-rc {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.sbvt,
.rc {
  overscroll-behavior: none;
  width: 600% !important;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.work-imgs {
  width: 100%;
  max-width: 60rem;
}

.black-bg {
  background-color: #252422;
  color: white;
  border-radius: 50%;
  width: 36rem;
  height: 36rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: #8280EC;
  border: 1px solid #8280EC;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #3B38C8;
  border: 1px solid #3B38C8;
}

.btn-primary:active,
.btn-primary:focus-visible,
.btn:first-child:active,
.btn:first-child:active:focus-visible,
.btn:focus-visible  {
  background-color: #3B38C8;
  border: 3px solid #FE976F;
  outline: none;
}

.btn-secondary {
  background-color: #FE976F;
  border: 1px solid #FE976F;
  color: #252422;
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: #F96C36;
  border: 1px solid #F96C36;
}

.link-dark svg:hover {
  color: #3B38C8;
}